#looking-for-challenge-widget {
  .pgn__card-wrapper-image-cap {
    overflow: visible;
    min-width: auto;
  }

.pgn__card-body {
  padding-right: 2rem;
}

h4 {
  font-weight: bold;
  color: #1976D2;
}

strong {
  font-weight: 600;
}
}
